/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css2?family=Mulish:300,400,500,600,700";
:root {
    --primary: #FFE600;
    --light: #2D3277;
    --grey: #F1F1F0;    
}

body {
    background-color: var(--grey) !important;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: black;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    TOPBAR STYLE
----------------------------------------------------- */

.navbar {
    background: var(--grey) !important;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.form-inline {
    width: calc(100% - 350px);
    left: 10px;
}

.form-inline input {
    width: 100%;
    left: 10px;
}

.btn-search {
    background: none;
    right: .5em;
}

nav #topbar {
    flex-wrap: nowrap;
}

#user-name {
    font-family: 'Mulish', sans-serif;
    font-size: .7em;
    color: #999;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: var(--grey);
    border: var(--grey);
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.4s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #FFE600;
    color: #000;
    transition: all 0.4s;
}

#sidebar nav {
    position: absolute;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #FFE600;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #7283ac;
}

#sidebar ul li a:hover {
    color: white;
    background: #7283ac;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: white;
    background: #7283ac;
}

a[data-toggle="collapse"] {
    position: relative;
}

#logout_sidebar_button {
    position: fixed;
    bottom: 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 10px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

#main-content-bg {
    width: 100%;
    padding: 10px 50px;
}

#main-content {
    width: 100%;
    padding: 10px;
    background-color: white;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 250px;
        height: 100%;
        margin-left: -250px;
        transform: rotateY(90deg);
    }

    #logout_sidebar_button {
        bottom: 2em;
    }

    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #navbarSupportedContent {
        display: none;
    }
    .fa-search {
        display: none;
    }

    .form-inline {
        width: auto;
    }
}