{% extends "base.html" %}


{% block title %}Home{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/css/template.css">
{% endblock %}

{% block content %}

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header mr-2">
                <img src="../static/img/Maanostítulo.png" width="65" height="65" alt="">
            </div>
                {% if role == 'Vendedor' %}
                  {% include "sidebar-vendedor.html" %}
                {% endif %}
                {% if role == 'Comprador' %}
                  {% include "sidebar-comprador.html" %} 
                {% endif %}
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid" id="topbar">

                    <button type="button" id="sidebarCollapse" class="btn btn-info position-relative">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    {% if role == 'Comprador' %}
                        <form action="/search" method="GET" class="form-inline position-relative my-2">
                            <input class="form-control mr-sm-2" type="search" placeholder="Buscar"
                                aria-label="Search" style="border-radius: 40px; width: 100%;" name="name">
                      <button class="btn btn-search position-absolute" type="submit" style="border-radius: 40px;"><i class="fas fa-search" style="color: lightgrey;"></i>
                      </button>
                    </form>
                    {% endif %}

                    <div class="nav navbar-brand ml-auto" id="navbarSupportedContent">
                      <span id="user-name">
                       {% if current_user.is_authenticated %}
                       {{current_user.name }}
                        <img src="https://ui-avatars.com/api/?name={{current_user.name}}&background=4141ab&size=32&rounded=true&color=ffffff">
                        {% endif %} </span>
                    </div>
                </div>
            </nav>
            <div id="main-content-bg">
                <div id="main-content">
                    {% block mainContent %}
                    {% endblock %}
                </div>
            </div>
    </div>
</body>
{% include "modal.html" %}
{% endblock %}
