{% extends "home.html" %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/css/home-buyer.css">
    <link rel="stylesheet" type="text/css" href="../static/css/home-template.css">
{% endblock %}

{% block mainContent %}

<body>
    <section id="top-sales">
    <div class="title">
        <h3>Lo más vendido</h3>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col mb-4">
            <div class="card">
                <img src="{{ url_for('upload', filename=product.photo) }}" class="card-img-top">
                <div class="card-body">
                    <p class="card-text price">${{product.price}}</p>
                    <span class="card-title">{{product.name}}</span>
                    <p class="card-text description">{{product.description}}</p>
                    <a href="{{ url_for('products.getProduct', product_id = product.id) }}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

</body>
{% endblock %}
