<!--=== Modal ===-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="text-align: center;">
      <div class="modal-body" id="flashes">
        {% for category, message in messages %}
        {% if category == "error" %}
        <img src="../static/img/error.png" width="100rem" height = "100rem" alt="" style="justify-content: center;">
        {% endif %}   
        {% if category == "success" %}
        <img src="../static/img/succes-2.png" width="100rem" height = "100rem" alt="" style="justify-content: center;">
        {% endif %}
        {% if not category %}
        <img src="../static/img/error.png" width="100rem" height = "100rem" alt="" style="justify-content: center;">
        {% endif %}
        <br>
        <br>
         <p  class="modal-title p-b-51"> {{ message }}</p>
         <br>
        {% endfor %}
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endwith %}