<section id="top-sales">
    <div class="title">
        <h3>Resultado</h3>
    </div>
    <div class="row">
        {% for product in search_products %}
        <div class="col mb-4">
            <div class="card">
                <img src="{{ url_for('upload', filename=product.photo) }}" class="card-img-top">
                <div class="card-body">
                    <p class="card-text price">${{product.price}}</p>
                    <span class="card-title">{{product.name}}</span>
                    <p class="card-text description">{{product.description}}</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
