<ul class="list-unstyled components">
            <li class="active" id = "topProducts" onclick="moveTo(id)">
                <a href="{{url_for('products.home')}}" 
                   class="d-block p-3"
                   title = "Home page"
                   ><i class="fas fa-home mr-2 lead"></i>Top productos</a>
            </li>
            <li  id = "myShopping"  onclick="moveTo(id)">
                <a href="{{url_for('products.get_my_shopping')}}"
                   class="d-block p-3"
                   title = "my-shopping"
                   ><i class="fa fa-shopping-bag mr-2 lead"></i> Mis compras</a>
            </li>
            <li  id = "profile"  onclick="moveTo(id)">
                <a href="{{url_for('products.get_my_profile')}}"
                   class="d-block p-3 "
                   title = "my_profile"><i class='fas fa-user-circle mr-2 lead'></i>Perfil</a>
            </li>
            <li id="logout_sidebar_button"  onclick="moveTo(id)">
                <a href="{{ url_for('user.logout') }}" class="d-block p-3 "><i class='fas fa-sign-out-alt mr-2 lead'></i></i>Cerrar sesión</a>
            </li>
  </ul>
