<ul class="list-unstyled components">
            <li class="active">
                <a href="#" class="d-block p-3"><i class='fas fa-chart-pie mr-2 lead'></i></i>Top productos</a>
            </li>
            <li>
                <a href="#" class="d-block p-3 "><i class='fas fa-user-circle mr-2 lead'></i></i>Perfil</a>
            </li>
            <li id="logout_sidebar_button">
                <a href="{{ url_for('user.logout') }}" class="d-block p-3 "><i class='fas fa-sign-out-alt mr-2 lead'></i></i>Cerrar sesión</a>
            </li>
            
  </ul>
