{% extends "base.html" %}


{% block title %}Actualizar Producto{% endblock %}

{% block head %}
 {{ super() }}
  <link rel="stylesheet" type="text/css" href="../static/css/template.css">
  <link rel="stylesheet" type="text/css" href="../static/css/add-edit-product.css">
{% endblock %}


{% block content %}
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header mr-2">
                <img src="../static/img/Maanostítulo.png" width="60" height="60">
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#" class="d-block p-3">
                      <i class='fas fa-chart-pie mr-2 lead'></i>
                      Mis productos
                    </a>
                </li>
                <li>
                    <a href="#" class="d-block p-3 ">
                      <i class='fas fa-user-circle mr-2 lead'></i>
                      Perfil</a>
                </li>
                <li id="logout_sidebar_button">
                    <a href="#" class="d-block p-3 ">
                      <i class='fas fa-sign-out-alt mr-2 lead'></i>
                      cerrar sesión
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid" id="topbar">

                    <button type="button" id="sidebarCollapse" class="btn btn-info position-relative">
                        <span></span>
                        <span></span>
                        <span></span>
                        <!--<i class="fas fa-align-left"></i>-->
                    </button>

                    <form class="form-inline position-relative my-2">
                      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" style="border-radius: 40px; width: 100%;">
                      <button class="btn btn-search position-absolute" type="submit" style="border-radius: 40px;"><i class="fas fa-search" style="color: lightgrey;"></i>
                      </button>
                    </form>

                    <div class="nav navbar-brand ml-auto" id="navbarSupportedContent">
                      <span id="user-name">Juan García Lugo </span>
                      <img src="https://ui-avatars.com/api/?name=Juan+García+Lugo&background=random&size=32&rounded=true">
                    </div>
                </div>
            </nav>
            <div id="main-content-bg">
              <div id="main-content">
                <div class="title text-center">
                  <h3>Actualiza tu producto</h3>
                </div>

                    {% if id_product %}
                        <form action="/update_product?id={{ id_product }}" method="POST" enctype="multipart/form-data">
                    {% endif %}

                    {% if id_product %}
                        <form action="/update_product" method="GET" enctype="multipart/form-data">
                    {% endif %}
                  <div class="container">
                    <div class="left">
                      <div class="form-group">

                        {% if name %}
                            <input type="text" class="form-control" id="nameProduct" value="{{ name }}" name="name">
                        {% endif %}

                        {% if not name %}
                            <input type="text" class="form-control" id="nameProduct" name="name">
                        {% endif %}

                      </div>
                      <div class="wrapper-form">
                        <div class="left-form">
                          <div class="form-group">
                            <div class="input-group flex-nowrap">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">$</span>
                              </div>

                        {% if price %}
                        <input type="number" class="form-control" id="priceProduct" value="{{ price }}" name="price">
                        {% endif %}

                        {% if not price %}
                            <input type="number" class="form-control" id="priceProduct" placeholder="Precio" name="price">
                        {% endif %}

                            </div>
                          </div>
                        </div>
                        <div class="right-form">
                          <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" onchange="showImage(event);" name="image">
                                {% if image %}
                                    <label id="labelImage" class="custom-file-label text-muted" for="customFile">{{ image }}</label>
                                {% endif %}
                                {% if not image %}
                                    <label id="labelImage" class="custom-file-label text-muted" for="customFile">Imagen del producto </label>
                                {% endif %}
 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">

                        {% if description %}
                            <textarea class="form-control" id="description" rows="3"
                                placeholder="Descripción" name="description">{{description}}</textarea>
                        {% endif %}

                        {% if not description %}
                            <textarea class="form-control" id="description" rows="3"
                                placeholder="Descripción" name="description"></textarea>
                        {% endif %}
                                              </div>
                    </div>
                    <div class="right">
                      <div class="image-area">
                        {% if image %}
                            <img id="imageResult" src="{{ url_for('upload', filename=image) }}" class="img-fluid  mx-auto d-block">
                        {% endif %}
                        {% if not image %}
                            <img id="imageResult" src="../static/img/image-regular.svg" class="img-fluid  mx-auto d-block">
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button id="updateButton" type="submit" class="btn btn-primary">Actualizar</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
    {% include "modal.html" %}
</body>


{% block scripts %}
 {{ super() }}
 <script src = "../static/js/render_productImage.js"></script>
{% endblock %}

{% endblock %}
